body {
	font-family: verdana;
	background-color: #ABC234;
}

.header {
	color: #FFF;
	font-size: 25px;
	margin: 1px
}

.sub_header {
	color: #FFF;
	font-size: 20px;
	margin: 1px
}

.selection {
    margin-top:50px;
}